@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
